{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="submit" value="submit">
    </form>
    {% if saved_object %}
    <h2>Upload Successful: {{ saved_object.image.url }}</h2>
    <h2>Upload Description: {{ saved_object.description }}</h2>
    <img src="{{ saved_object.image.url }}" alt="{{ saved_object.description }}">
    {% endif %}

</body>
</html>